.login-modal {
  max-width: 600px;
  padding: 40px;
  position: relative;
  overflow-y: auto;
  border-radius: 20px;
  color: var(--color-text);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: var(--color-secondary);
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);

  // .login-modal__form

  &__form {
    display: grid;
    max-width: 320px;
    min-width: 300px;
    text-align: center;
    grid-row-gap: 7px;
  }

  // .login-modal__title

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  // .login-modal__log

  &__log {
    display: grid;
    grid-row-gap: 28px;
    grid-template-columns: minmax(0px, 1fr);
  }

  // .login-modal__group

  &__group {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .login-modal__label

  &__label {
    font-size: 14px;
    text-align: left;
    color: var(--color-grey);
  }

  // .login-modal__input

  &__input {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 51px;
    padding: 0 24px;
    opacity: 1;
    overflow: hidden;
    background: rgb(134 149 143 / 0.1);
    box-shadow: none;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1876em;
    color: var(--color-text);
    cursor: text;

    &::placeholder {
      font-family: $fontMain;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.1876em;
      color: var(--color-text);
    }

    &.error {
      border: 1px solid red;
    }
  }

  // .login-modal__forgot

  &__forgot {
    margin: 4px 0px 6px;
    color: rgb(174, 181, 178);
    font-size: 12px;
    line-height: 130%;
    text-align: right;
    letter-spacing: 0.01em;
    cursor: pointer;
  }

  // .login-modal__btn

  &__btn {
    width: 100%;
    height: 52px;
    font-size: 12px;
    min-width: 150px;
    padding: 6px 16px;
    margin-bottom: 20px;
    box-shadow: none;
    min-height: 44px;
    font-weight: 600;
    line-height: 16px;
    border-radius: 12px;
    background-color: var(--color-green);
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: var(--color-background);

    &:hover {
      opacity: 0.9;
    }

    &:focus {
      opacity: 0.9;
    }

  }

  // .login-modal__or

  &__or {
    margin: 0px 0px 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--color-text);
  }

  // .login-modal__brousers

  &__brousers {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  // .login-modal__brouser

  &__brouser {
    padding: 7px;
    background: var(--color-background);
    box-shadow: 0px 1px 4px rgb(25 53 41 / 10%), 0px 3px 8px rgb(25 53 41 / 12%);
    border-radius: 50px;
    cursor: pointer;

    & svg {
      width: 23px;
      height: 23px;
    }
  }

  // .login-modal__sign

  &__sign {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 3px;
    color: var(--color-grey);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  // .login-modal__sign-link

  &__sign-link {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: var(--color-green);
  }
}